/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
mat-icon
{
    padding-right: 16px;
}
.header {
    display: block;
    width: 100%;
    font-size: 1.1em;
    padding: 20px 15px;
}
