body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(images/background.png) 100% repeat-x;
    background-position: center;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: white;
    min-height: 600px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

a {
    color: #256702;
}
a:hover {
    color: #256702;
}

.btn-primary {
    background-color: #66B313;
    border-color: #4D9500;
}

.btn-primary:hover {
    background-color: #4D9500;
    border-color: #4D9500;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-text {
    color: #284C00;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}
#menu{
    background-color: #C0DA23;
}