
@{
    ViewBag.Title = "Login";
}

<h2>To work with this application please login with google</h2>
@Html.ActionLink("Log in with google", "Login", "Account", null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })

