@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <h1 class="display-4">Hello, newcomer!</h1>
        <p class="lead">This is a test mvc client for Indentity Server 4</p>
        <hr class="my-4">
        <p>Please, login to see about page.</p>
        <p class="lead">
                @Html.ActionLink("Log in", "Login", new { }, new { @class = "btn btn-primary btn-lg" })
        </p>
    </div>
}
else
{
    <h1>Logged in as: @User.Identity.Name</h1>
}